@charset "UTF-8";
/*Fuentes usadas en todo el sitio*/
@font-face {
  font-family: "bree";
  src: url(../resources/fonts/BreeSerif-Regular.ttf); }

@font-face {
  font-family: "ruda-regular";
  src: url(../resources/fonts/Ruda-Regular.ttf); }

@font-face {
  font-family: "ruda-bold";
  src: url(../resources/fonts/Ruda-Bold.ttf); }

@font-face {
  font-family: "ruda-semibold";
  src: url(../resources/fonts/Ruda-SemiBold.ttf); }

@font-face {
  font-family: "ruda-extrabold";
  src: url(../resources/fonts/Ruda-ExtraBold.ttf); }

@font-face {
  font-family: "ruda-black";
  src: url(../resources/fonts/Ruda-Black.ttf); }

@font-face {
  font-family: "ruda-medium";
  src: url(../resources/fonts/Ruda-Medium.ttf); }

/*Parametros pertinentes a todos los html*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "ruda-regular";
  color: #233f7b;
  list-style: none;
  font-size: 20px; }

.disclaimer {
  display: none; }

.fondo-menu {
  background-color: #ffe8a3; }

.grid-container-index, .grid-container-portfolio, .grid-container-aboutme, .grid-container-tienda, .grid-container-contacto {
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.content-three-grid-index, .content-one-grid-portfolio {
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

.menu-grid-index, .menu-grid-portfolio, .menu-grid-aboutme, .menu-grid-tienda, .menu-grid-contacto {
  position: sticky;
  top: 0px;
  z-index: 1; }

.enlaces {
  display: flex;
  justify-content: center; }

/*Parametros de ajuste para Headers de todos los html*/
.header-grid-index, .header-grid-portfolio, .header-grid-aboutme, .header-grid-tienda, .header-grid-contacto {
  background-image: url(../resources/images/backgrounds/background.webp);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.logo-container {
  display: flex;
  justify-content: flex-end;
  width: 30%; }

.main-logo {
  width: 100%;
  max-width: 225px;
  position: relative;
  top: 33px;
  z-index: 3; }

.title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
  max-width: fit-content; }
  .title-container div {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center; }

.maintitle {
  font-family: "bree";
  text-decoration: underline;
  text-underline-offset: 14px;
  font-size: clamp(13px, 4.5vw, 60px);
  margin-bottom: 15px;
  vertical-align: middle; }

.subtitle {
  font-size: clamp(17px, 2vw, 30px); }

.redes-sociales-nav-top {
  width: 30%; }

.redes-sociales-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

/*Parametros de ajuste para Footers de todos los html*/
.footer-grid-index, .footer-grid-portfolio, .footer-grid-aboutme, .footer-grid-tienda, .footer-grid-contacto {
  background-image: url(../resources/images/backgrounds/background.webp);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed; }

footer {
  width: 100%;
  display: flex;
  flex-direction: column; }

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.redes-sociales-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.imagen-despedida {
  width: 10rem; }

.redes-sociales {
  display: flex;
  position: relative;
  top: 15px;
  padding: 0px;
  justify-content: flex-start;
  width: 100%; }

.redes-sociales-nav {
  vertical-align: middle;
  width: 100%; }

.links {
  height: 2rem;
  margin: 5px; }

.legal p {
  margin: 0;
  font-family: "bree";
  font-size: clamp(12px, 1.7vw, 16px);
  font-weight: bold; }

.ir-al-inicio {
  display: flex;
  justify-content: flex-end;
  width: 100%; }
  .ir-al-inicio a {
    padding: 5px;
    background-color: #ffe8a3;
    border-radius: 3px;
    font-size: 15px;
    margin: 5px 40px;
    font-weight: bold; }

/*Mixins para distintos elementos posiblemente variables*/
/*Parametro de organización de contenido en about-me.html*/
/*Parametros de Index.html*/
.grid-container-index {
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(6, auto); }

.header-grid-index {
  grid-area: 1 / 1 / 2 / 4; }

.menu-grid-index {
  grid-area: 2 / 1 / 3 / 4; }

.content-one-grid-index {
  grid-area: 3 / 2 / 4 / 3; }

.content-two-grid-index {
  grid-area: 4 / 1 / 5 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }
  .content-two-grid-index h3 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%; }
    .content-two-grid-index h3 b {
      display: flex;
      justify-content: center;
      font-size: 35px;
      font-family: "bree";
      margin: 0; }

.fondo-articulo {
  background-color: #bbc7d3; }
  .fondo-articulo article {
    margin: 0;
    width: 50%;
    max-width: 800px;
    text-align: center; }

.content-three-grid-index {
  grid-area: 5 / 2 / 6 / 3; }

.footer-grid-index {
  grid-area: 6 / 1 / 7 / 4; }

/*Parametros de Portfolio.html*/
.grid-container-portfolio {
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(4, auto); }

.header-grid-portfolio {
  grid-area: 1 / 1 / 2 / 4; }

.menu-grid-portfolio {
  grid-area: 2 / 1 / 3 / 4; }

.content-one-grid-portfolio {
  grid-area: 3 / 2 / 4 / 3; }

.footer-grid-portfolio {
  grid-area: 4 / 1 / 5 / 4; }

/* Parametros de about-me.html */
.grid-container-aboutme {
  grid-template-columns: 2fr 5fr 5fr 2fr;
  grid-template-rows: repeat(7, auto); }

.header-grid-aboutme {
  grid-area: 1 / 1 / 2 / 5; }

.menu-grid-aboutme {
  grid-area: 2 / 1 / 3 / 5; }

.presentation-grid-aboutme-one {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 70px; }

.presentation-grid-aboutme-two {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-end; }

.presentation-grid-aboutme-three {
  grid-area: 5 / 3 / 6 / 4;
  display: flex;
  align-items: center;
  margin: 10px; }

.presentation-grid-aboutme-four {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-end;
  margin-bottom: 70px; }

.photo-one-aboutme {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 70px; }

.photo-two-aboutme {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; }

.photo-three-aboutme {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px; }

.photo-four-aboutme {
  grid-area: 6 / 3 / 7 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 70px; }

.footer-grid-aboutme {
  grid-area: 7 / 1 / 8 / 5; }

.photo-aboutme {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 7px lightgray; }

.presentation-title-start {
  font-family: "bree";
  width: 100%;
  text-align: start; }

.presentation-title-end {
  font-family: "bree";
  width: 100%;
  text-align: end; }

.presentation {
  width: 100%;
  max-width: 500px;
  font-size: clamp(12px, 2vw, 15px);
  text-align: justify; }

/* parametros de tienda.html */
.grid-container-tienda {
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: repeat(2, auto) 500px auto; }

.header-grid-tienda {
  grid-area: 1 / 1 / 2 / 4; }

.menu-grid-tienda {
  grid-area: 2 / 1 / 3 / 4; }

.productos-grid-tienda {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center; }
  .productos-grid-tienda nav {
    display: flex;
    justify-content: center;
    width: 100%; }

.footer-grid-tienda {
  grid-area: 4 / 1 / 5 / 4; }

.tiendas-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  padding: 0px; }
  .tiendas-links li {
    display: flex;
    align-items: center; }
    .tiendas-links li a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

/* parametros de contacto.html */
.grid-container-contacto {
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: repeat(4, auto); }

.header-grid-contacto {
  grid-area: 1 / 1 / 2 / 4; }

.menu-grid-contacto {
  grid-area: 2 / 1 / 3 / 4; }

.formulario-grid-contacto {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0; }

.form-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  max-width: 1200px; }

.formulario {
  width: 50%;
  max-width: 550px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .formulario input {
    margin-bottom: 10px; }

.mensaje-container {
  padding: 15px;
  justify-content: center;
  width: 50%;
  max-width: 500px; }
  .mensaje-container p {
    text-align: justify;
    font-size: clamp(12px, 2.2vw, 17px); }
    .mensaje-container p b {
      font-size: clamp(12px, 2.2vw, 17px); }

.form-field {
  background-color: #bbc7d3;
  border: none;
  color: black;
  padding: 5px;
  font-size: 12px; }

.send-button {
  background-color: white;
  border: white;
  font-family: "bree"; }

.footer-grid-contacto {
  grid-area: 4 / 1 / 5 / 4; }

/* inicio media queries */
/*Ajustes para 450px o menos*/
@media (max-width: 500px) {
  .header-grid-tienda,
  .header-grid-portfolio,
  .header-grid-index,
  .header-grid-aboutme,
  .header-grid-contacto {
    flex-direction: column-reverse;
    align-items: center; }
  .logo-container {
    justify-content: center;
    width: 40%; }
  .main-logo {
    position: static; }
  .title-container {
    width: 100%; }
  .maintitle {
    font-size: 40px;
    margin-bottom: 20px;
    vertical-align: middle; }
  .subtitle {
    font-size: 25px;
    text-align: center; }
  .redes-sociales-nav-top {
    position: absolute;
    right: 20px;
    top: 125px;
    padding: 0;
    width: fit-content; }
  .redes-sociales-top {
    padding: 0; }
  .legal {
    width: 70%; } }

/*Ajustes para 700px o menos*/
@media (max-width: 700px) {
  .redes-sociales {
    display: flex;
    width: fit-content; }
  .enlaces a {
    width: fit-content; }
  .grid-container-index {
    grid-template-columns: 0fr 10fr 0fr; }
  .grid-container-aboutme {
    grid-template-columns: 0.1fr 4fr 4fr 0.1fr;
    grid-template-rows: repeat(11, auto); }
  .presentation-grid-aboutme-one {
    grid-area: 3 / 2 / 4 / 4;
    justify-content: center; }
  .photo-one-aboutme {
    grid-area: 4 / 2 / 5 / 4;
    margin: 10px; }
  .presentation-grid-aboutme-two {
    grid-area: 5 / 2 / 6 / 4;
    justify-content: center; }
  .photo-two-aboutme {
    grid-area: 6 / 2 / 7 / 4; }
  .presentation-grid-aboutme-three {
    grid-area: 7 / 2 / 8 / 4;
    justify-content: center; }
  .photo-three-aboutme {
    grid-area: 8 / 2 / 9 / 4; }
  .presentation-grid-aboutme-four {
    grid-area: 9 / 2 / 10 / 4;
    justify-content: center;
    margin: 10px; }
  .photo-four-aboutme {
    grid-area: 10 / 2 / 11 / 4; }
  .presentation-title-end {
    text-align: start; }
  .grid-container-tienda {
    grid-template-columns: 0fr 1fr 0fr; }
  .grid-container-contacto {
    grid-template-columns: 0.3fr 10fr 0.3fr; }
  .footer-grid-aboutme {
    grid-area: 11 / 1 / 12 / 5; }
  .tiendas-virtuales {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: end; }
  .tiendas-links {
    flex-direction: column;
    justify-content: center; }
    .tiendas-links li {
      display: flex;
      justify-content: center;
      margin: 20px 0; }
  .redes-sociales-top {
    flex-direction: column; } }

/*Ajustes para 900px o menos*/
@media (max-width: 900px) {
  .form-container {
    flex-direction: column-reverse;
    align-items: center; }
  .formulario {
    width: 100%; }
  .mensaje-container {
    width: 100%; }
  .content-two-grid-index article {
    width: 100%; }
  .grid-container-portfolio {
    grid-template-columns: 0fr 6fr 0fr; } }

/* Parametros específicos de carrousel */
.carousel-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0; }

.carousel {
  width: 100%;
  max-width: 600px;
  z-index: 0; }

/*parametros pertenecientes a tarjetas de sitio*/
/*Cards de Index.html*/
.card {
  margin: 10px;
  border: 1px solid #ffbf00;
  box-shadow: 0 0 6px lightgray; }

.card-title {
  font-family: "bree"; }

/*Cards de Portfolio.html*/
.img-card {
  width: 250px;
  height: 250px;
  align-items: center;
  margin: 15px;
  padding: 0%; }

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 250px;
  opacity: 0;
  background-color: #ffbf00;
  border-radius: 4px;
  border: none;
  padding: 5px; }

.img-muestra {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px; }

/*Animaciones de elementos*/
.nav-item:hover a {
  transition: all 0.35s ease-in-out;
  color: #3865c7; }

/*Botones de tarjetas "ver el proyecto"*/
.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ffbf00;
  color: #233f7b; }

/*Imagen Logo de Sitio*/
.main-logo:hover, .tiendas-links li a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) rotate(5deg); }

/*Tarjetas de Portfolio*/
.img-card:hover .descripcion {
  transition-delay: 0.1s;
  transition: all 0.5s ease-in-out;
  opacity: 0.6; }

/*Enlaces a sitios externos*/
.enlaces:hover {
  transition: all .4s ease-in;
  transform: scale(1.1); }

/*botón ir al inicio del footer*/
.ir-al-inicio a:hover {
  transition: all 0.4s ease-in-out;
  background-color: #ffbf00; }

/* parametros para contrarrestar los que vienen por defecto en bootstrap */
a {
  color: #233f7b;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 2px; }

.collapse {
  display: flex;
  justify-content: end;
  padding: 5px; }

.nav-item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 10px;
  padding: 3px;
  border-radius: 5px; }

.nav-item a {
  font-weight: bold; }

.btn-primary {
  background-color: #ffd966;
  color: #233f7b;
  border: none; }

.modal-body img {
  width: 100%;
  object-fit: contain; }

.modal-structure-image {
  padding: 20px; }

.modal-structure-text {
  padding: 20px; }
  .modal-structure-text h3 {
    font-size: clamp(14px, 3vw, 30px);
    font-weight: bold;
    font-family: "bree"; }
  .modal-structure-text article {
    font-size: clamp(12px, 2vw, 15px);
    text-align: justify; }
    .modal-structure-text article a {
      font-size: clamp(12px, 2vw, 15px);
      text-decoration: underline; }

.btn:active {
  background-color: #9facdb; }

.btn:focus {
  background-color: #9facdb; }

.btn-secondary {
  background-color: #9facdb;
  border: none; }

.btn-close {
  display: none; }
