/* controles generales para todas las páginas */

@font-face {
  font-family: "bree";
  src: url(resources/fonts/BreeSerif-Regular.ttf);
}

@font-face {
  font-family: "ruda-regular";
  src: url(resources/fonts/Ruda-Regular.ttf);
}

@font-face {
  font-family: "ruda-bold";
  src: url(resources/fonts/Ruda-Bold.ttf);
}

@font-face {
  font-family: "ruda-semibold";
  src: url(resources/fonts/Ruda-SemiBold.ttf);
}

@font-face {
  font-family: "ruda-extrabold";
  src: url(resources/fonts/Ruda-ExtraBold.ttf);
}

@font-face {
  font-family: "ruda-black";
  src: url(resources/fonts/Ruda-Black.ttf);
}

@font-face {
  font-family: "ruda-medium";
  src: url(resources/fonts/Ruda-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "ruda-regular";
  color: hsl(221, 56%, 31%);
  list-style: none;
  font-size: 20px;
}

.fondo-menu {
  background-color: hsl(45, 100%, 82%);
}

.fondo-articulo {
  background-color: hsl(210, 22%, 78%);
}

.barra {
  background-color: darkgrey;
  height: 3px;
}

.productos-imagenes {
  margin: 10px;
  width: 100%;
  max-width: 275px;
  border-radius: 10px;
}

.productos-imagenes:hover {
  z-index: 2;
  transition: all .3s ease-in;
  transform: scale(1.1);
  box-shadow: 7px 7px 6px hsl(0, 0%, 70%)
}

.card {
  margin: 10px;
}

/* parametros de cabecera */
.header-container {
  display: flex;
  /* <<=== no tocar*/
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 30%;
  max-width: 300px;
}

.main-logo {
  width: 100%;
  position: relative;
  top: 30px;
  z-index: 3;
}

.title-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 500px;
}

.title-container div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.maintitle {
  font-family: "bree";
  text-decoration: underline;
  text-underline-offset: 7px;
  font-size: clamp(20px, 9vw, 70px);
  margin-bottom: 15px;
}

.subtitle {
  font-size: clamp(10px, 4vw, 25px);
}

/* Fin de parametros de cabecera */

/* Parametros de Footer */
footer {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

footer div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.imagen-despedida {
  width: 10rem;
  margin-bottom: 10px;
}

.redes-sociales {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.redes-sociales-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.enlaces:hover {
  transition: all .3s ease-in;
  transform: scale(1.1);
}

.links {
  height: 2rem;
  margin: 5px;
}

.legal {
  margin-top: 20px;
}

.legal p b {
  font-family: "bree";
  font-size: clamp(12px, 1.7vw, 16px);
}

/* Fin de Parametros de footer */

/* FIN DE PARAMETROS GENERALES PARA TODOS LOS HTML */

/* Parametros específicos para index.html */
/* parametros de grid */
.grid-container-index {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(4, auto) 250px repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-index {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-index {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.content-one-grid-index {
  grid-area: 3 / 2 / 4 / 3;
}

.content-two-grid-index {
  grid-area: 4 / 1 / 5 / 4;
}

.grid-air {
  grid-area: 5 / 1 / 6 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.content-three-grid-index {
  grid-area: 6 / 2 / 7 / 3;
}

.footer-grid-index {
  grid-area: 7 / 1 / 8 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* fin de parametros de grid */

/* Parametros especiales de carrousel */

.carousel-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0px 0px 12px 0px lightgray;
}

.carousel {
  width: 100%;
  max-width: 600px;
  z-index: 0;
}

.intro {
  display: flex;
  justify-content: center;
  padding: 40px 25px 45px 25px;
}

.intro-article {
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.muestra-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.img-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  height: 325px;
  margin: 10px;
  padding: 0%;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 75px;
}

.descripcion-texto {
  text-align: center;
  font-size: 12px;
  opacity: 0;
}

.img-card:hover .descripcion-texto {
  transition-delay: 0.5s;
  transition: all 1s ease-in-out;
  opacity: 1;
  font-size: 14px;
}

.img-muestra {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.img-muestra:hover {
  transition: all 0.3s ease-in;
  transform: scale(1.05);
  box-shadow: 0 0 6px lightgray;
}


/* Fin de parametros específicos para Index.html */

/* Parámetros para inicio.html */
/* controles de grid */
.grid-container-inicio {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-inicio {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-inicio {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content-one-grid-inicio {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(45, 100%, 82%);
}

.footer-grid-inicio {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* fin de controles de grid */

.seccion-titulo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: hsl(45, 100%, 75%);
}

.seccion-titulo h3 {
  color: white;
  margin: 5px 10px;
}

.seccion-container {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Fin de parametros específicos para inicio.html */

/* Parametros para Portfolio.Html */

/* Parametros de grid */
.grid-container-portfolio {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-portfolio {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-portfolio {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content-one-grid-portfolio {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  width: 100%;
}

.content-two-grid-portfolio {
  grid-area: 4 / 2 / 5 / 3;
}

.footer-grid-portfolio {
  grid-area: 5 / 1 / 6 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(45, 100%, 95%);
  width: 100%;
  padding: 10px;
}

.portfolio-1,
.portfolio-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: fit-content;
  border: 3px solid white;
  border-radius: 15px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
}

.portfolio-imagen1 img,
.portfolio-imagen2 img {
  width: 100%;
  max-width: 275px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 7px lightgray;
}

.portfolio-texto1,
.portfolio-texto2 {
  justify-content: center;
  text-align: justify;
  width: 100%;
  max-width: 600px;
}

.portfolio-1 article,
.portfolio-2 article {
  font-size: clamp(12px, 2vw, 13px);
}

/* Fin de parametros específicos de portfolio.html */

/* Parametros de about-me.html */
.grid-container-aboutme {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-template-rows: repeat(4, auto) 150px repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-aboutme {
  grid-area: 1 / 1 / 2 / 5;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-aboutme {
  grid-area: 2 / 1 / 3 / 5;
  position: sticky;
  top: 0;
  z-index: 2;
}

.presentation-grid-aboutme-one {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.presentation-grid-aboutme-two {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
}

.presentation-grid-aboutme-three {
  grid-area: 6 / 3 / 7 / 4;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.presentation-grid-aboutme-four {
  grid-area: 7 / 2 / 8 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
}

.photo-one-aboutme {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px 0;
}

.photo-two-aboutme {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
}

.grid-air-aboutme {
  grid-area: 5 / 1 / 6 / 5;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.photo-three-aboutme {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px 0;
}

.photo-four-aboutme {
  grid-area: 7 / 3 / 8 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px 0;
}

.footer-grid-aboutme {
  grid-area: 8 / 1 / 9 / 5;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.photo-aboutme {
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 7px lightgray;
}

.presentation-title-start {
  width: 100%;
  text-align: start;
}

.presentation-title-end {
  width: 100%;
  text-align: end;
}

.presentation {
  width: 100%;
  max-width: 450px;
  font-size: clamp(12px, 2vw, 15px);
}

.text-right {
  text-align: justify;
}

.text-left {
  text-align: justify;
}

/* Fin de parametros específicos para about-me.html */

/* parametros de tienda.html */
.grid-container-tienda {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: repeat(3, auto) 150px repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-tienda {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-tienda {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.productos-grid-tienda1 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-air-tienda {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.productos-grid-tienda2 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(45, 100%, 82%);
}

.footer-grid-tienda {
  grid-area: 6 / 1 / 7 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* Fin de parametros de tienda.html */

/* parametros de contacto.html */

.grid-container-contacto {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-contacto {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-grid-contacto {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.mensaje-grid-contacto {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.mensaje-container {
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

.mensaje-container p {
  font-size: 80%
}

.mensaje-grid-contacto p {
  text-align: justify;
}

.formulario-grid-contacto {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  justify-content: center;
}

.form-container {
  background-color: hsl(45, 100%, 92%);
  border: 3px solid hsl(45, 100%, 50%);
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}

.formulario-grid-contacto form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formulario-grid-contacto form input {
  margin-bottom: 10px;
}

.footer-grid-contacto {
  grid-area: 5 / 1 / 6 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* Fin de parametros para contacto.html */

/* inicio media queries */
@media (max-width: 700px) {

  .redes-sociales {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .enlaces {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .enlaces a {
    width: fit-content;
  }

  .grid-container-index {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-inicio {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-portfolio {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-aboutme {
    grid-template-columns: 0.1fr 4fr 4fr 0.1fr;
  }

  .grid-container-tienda {
    grid-template-columns: 0fr 1fr 0fr;
  }


  .grid-container-contacto {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

}


/* parametros para contrarrestar los que vienen por defecto en bootstrap */
a {
  color: hsl(221, 56%, 31%);
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 2px;
}

.collapse {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.nav-item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 10px;
  padding: 3px;
  border-radius: 5px;
}

.nav-item:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  background-color: hsl(45, 100%, 70%);
}

.nav-item a {
  font-weight: bold;
}

.btn-primary {
  background-color: hsl(45, 100%, 70%);
  color: hsl(221, 56%, 31%);
  border: none;
}

.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: hsl(45, 100%, 50%);
  color: hsl(221, 56%, 31%);
}

.modal-body img {
  width: 100%;
  object-fit: contain;
}