@charset "UTF-8";

/* controles generales para todas las páginas */
@font-face {
  font-family: "bree";
  src: url(resources/fonts/BreeSerif-Regular.ttf);
}

@font-face {
  font-family: "ruda-regular";
  src: url(resources/fonts/Ruda-Regular.ttf);
}

@font-face {
  font-family: "ruda-bold";
  src: url(resources/fonts/Ruda-Bold.ttf);
}

@font-face {
  font-family: "ruda-semibold";
  src: url(resources/fonts/Ruda-SemiBold.ttf);
}

@font-face {
  font-family: "ruda-extrabold";
  src: url(resources/fonts/Ruda-ExtraBold.ttf);
}

@font-face {
  font-family: "ruda-black";
  src: url(resources/fonts/Ruda-Black.ttf);
}

@font-face {
  font-family: "ruda-medium";
  src: url(resources/fonts/Ruda-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "ruda-regular";
  color: #233f7b;
  list-style: none;
  font-size: 20px;
}

.fondo-menu {
  background-color: #ffe8a3;
}

.fondo-articulo {
  background-color: #bbc7d3;
}

.barra {
  background-color: darkgrey;
  height: 4px;
}

.productos-imagenes {
  margin: 10px;
  width: 100%;
  max-width: 275px;
  border-radius: 10px;
}

.productos-imagenes:hover {
  z-index: 2;
  transition: all .3s ease-in;
  transform: scale(1.1);
  box-shadow: 7px 7px 6px #b3b3b3;
}

.card {
  margin: 10px;
  border: 1px solid #ffbf00;
  box-shadow: 0 0 6px lightgray;
}

/* parametros de cabecera */
.logo-container {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.main-logo {
  width: 100%;
  max-width: 225px;
  position: relative;
  top: 33px;
  z-index: 3;
}

.main-logo:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) rotate(5deg);
}

.title-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  max-width: 575px;
  justify-content: center;
}

.title-container div {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.maintitle {
  font-family: "bree";
  text-decoration: underline;
  text-underline-offset: 7px;
  font-size: clamp(13px, 5.2vw, 80px);
  margin-bottom: 15px;
  vertical-align: middle;
}

.subtitle {
  font-size: clamp(17px, 2vw, 30px);
}

.redes-sociales-nav-top {
  width: 30%;
}

.redes-sociales-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Fin de parametros de cabecera */
/* Parametros de Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.redes-sociales-container {
  display: flex;
  flex-direction: column;
}

.imagen-despedida {
  width: 10rem;
}

.redes-sociales {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  width: 100%;
}

.redes-sociales-nav {
  vertical-align: middle;
  width: 100%;
}

.enlaces {
  display: flex;
  justify-content: center;
}

.enlaces:hover {
  transition: all .4s ease-in;
  transform: scale(1.1);
}

.links {
  height: 2rem;
  margin: 5px;
}

.legal p b {
  font-family: "bree";
  font-size: clamp(12px, 1.7vw, 16px);
}

.ir-al-inicio {
  font-size: 12px;
}

/* Fin de Parametros de footer */
/* FIN DE PARAMETROS GENERALES PARA TODOS LOS HTML */
/* Parametros específicos para index.html */
.grid-container-index {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-index {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  /* <<=== no tocar*/
  justify-content: center;
  align-items: flex-end;
}

.menu-grid-index {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.content-one-grid-index {
  grid-area: 3 / 2 / 4 / 3;
}

.content-two-grid-index {
  grid-area: 4 / 1 / 5 / 4;
}

.content-three-grid-index {
  grid-area: 5 / 2 / 6 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-grid-index {
  grid-area: 6 / 1 / 7 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* Parametros especiales de carrousel */
.carousel-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
}

.carousel {
  width: 100%;
  max-width: 600px;
  z-index: 0;
}

/* Fin de Parametros especiales de carrousel */
.intro {
  display: flex;
  justify-content: center;
  padding: 40px 25px 45px 25px;
}

.intro-article {
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.intro-article h2 b {
  font-size: 50px;
}

/* Fin de parametros específicos para Index.html */
/* Parametros para Portfolio.Html */
.grid-container-portfolio {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-portfolio {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  /* <<=== no tocar*/
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.menu-grid-portfolio {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content-one-grid-portfolio {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  padding: 70px;
}

.footer-grid-portfolio {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.img-card {
  width: 250px;
  height: 250px;
  align-items: center;
  margin: 15px;
  padding: 0%;
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 250px;
  opacity: 0;
  background-color: #ffbf00;
  border-radius: 4px;
  border: none;
  padding: 5px;
}

.img-card:hover .descripcion {
  transition-delay: 0.1s;
  transition: all 0.5s ease-in-out;
  opacity: 0.6;
}

.img-muestra {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

/* Fin de parametros específicos de portfolio.html */
/* Parametros de about-me.html */
.grid-container-aboutme {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr 2fr;
  grid-template-rows: repeat(7, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-aboutme {
  grid-area: 1 / 1 / 2 / 5;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  /* <<=== no tocar*/
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.menu-grid-aboutme {
  grid-area: 2 / 1 / 3 / 5;
  position: sticky;
  top: 0;
  z-index: 2;
}

.presentation-grid-aboutme-one {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-top: 70px;
}

.presentation-grid-aboutme-two {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.presentation-grid-aboutme-three {
  grid-area: 5 / 3 / 6 / 4;
  display: flex;
  align-items: center;
  margin: 10px;
}

.presentation-grid-aboutme-four {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  margin-bottom: 70px;
}

.photo-one-aboutme {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 70px;
}

.photo-two-aboutme {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.photo-three-aboutme {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.photo-four-aboutme {
  grid-area: 6 / 3 / 7 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 70px;
}

.footer-grid-aboutme {
  grid-area: 7 / 1 / 8 / 5;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.photo-aboutme {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 7px lightgray;
}

.presentation-title-start {
  width: 100%;
  text-align: start;
  font-family: "bree";
}

.presentation-title-end {
  font-family: "bree";
  width: 100%;
  text-align: end;
}

.presentation {
  width: 100%;
  max-width: 500px;
  font-size: clamp(12px, 2vw, 15px);
}

.text-right {
  text-align: justify;
}

.text-left {
  text-align: justify;
}

/* Fin de parametros específicos para about-me.html */
/* parametros de tienda.html */
.grid-container-tienda {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: repeat(2, auto) 500px auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-tienda {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  /* <<=== no tocar*/
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.menu-grid-tienda {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.productos-grid-tienda {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos-grid-tienda nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-grid-tienda {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.tiendas-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  padding: 0px;
}

.tiendas-links li {
  display: flex;
  align-items: center;
}

.tiendas-links li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tiendas-links li a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) rotate(5deg);
}

/* Fin de parametros de tienda.html */
/* parametros de contacto.html */
.grid-container-contacto {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header-grid-contacto {
  grid-area: 1 / 1 / 2 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  /* <<=== no tocar*/
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.menu-grid-contacto {
  grid-area: 2 / 1 / 3 / 4;
  position: sticky;
  top: 0;
  z-index: 2;
}

.formulario-grid-contacto {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 70px 0;
}

.form-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  width: 100%;
  max-width: 1200px;
}

.formulario {
  width: 50%;
  max-width: 550px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formulario input {
  margin-bottom: 10px;
}

.mensaje-container {
  padding: 15px;
  justify-content: center;
  width: 50%;
  max-width: 500px;
}

.mensaje-container p {
  text-align: justify;
  font-size: clamp(12px, 2.2vw, 17px);
}

.mensaje-container p b {
  font-size: clamp(12px, 2.2vw, 17px);
}

.form-field {
  background-color: #bbc7d3;
  border: none;
  color: black;
  padding: 5px;
  font-size: 12px;
}

.send-button {
  background-color: white;
  border: white;
}

.footer-grid-contacto {
  grid-area: 4 / 1 / 5 / 4;
  background-image: url(resources/images/backgrounds/background.jpg);
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/* Fin de parametros para contacto.html */
/* inicio media queries */
@media (max-width: 700px) {
  .redes-sociales {
    display: flex;
    width: fit-content;
  }

  .enlaces a {
    width: fit-content;
  }

  .grid-container-index {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-inicio {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-portfolio {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .grid-container-aboutme {
    grid-template-columns: 0.1fr 4fr 4fr 0.1fr;
    grid-template-rows: repeat(11, auto);
  }

  .presentation-grid-aboutme-one {
    grid-area: 3 / 2 / 4 / 4;
    justify-content: center;
  }

  .photo-one-aboutme {
    grid-area: 4 / 2 / 5 / 4;
    margin: 10px;
  }

  .presentation-grid-aboutme-two {
    grid-area: 5 / 2 / 6 / 4;
    justify-content: center;
  }

  .photo-two-aboutme {
    grid-area: 6 / 2 / 7 / 4;
  }

  .presentation-grid-aboutme-three {
    grid-area: 7 / 2 / 8 / 4;
    justify-content: center;
  }

  .photo-three-aboutme {
    grid-area: 8 / 2 / 9 / 4;
  }

  .presentation-grid-aboutme-four {
    grid-area: 9 / 2 / 10 / 4;
    justify-content: center;
    margin: 10px;
  }

  .photo-four-aboutme {
    grid-area: 10 / 2 / 11 / 4;
  }

  .presentation-title-end {
    text-align: start;
  }

  .grid-container-tienda {
    grid-template-columns: 0fr 1fr 0fr;
  }

  .grid-container-contacto {
    grid-template-columns: 0.3fr 10fr 0.3fr;
  }

  .footer-grid-aboutme {
    grid-area: 11 / 1 / 12 / 5;
  }

  .tiendas-virtuales {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: end;
  }

  .tiendas-links {
    flex-direction: column;
    justify-content: center;
  }

  .tiendas-links li {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}

@media (max-width: 900px) {
  .form-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .formulario {
    width: 100%;
  }

  .mensaje-container {
    width: 100%;
  }
}

/* parametros para contrarrestar los que vienen por defecto en bootstrap */
a {
  color: #233f7b;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 2px;
}

.collapse {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.navbar:hover .nav-item:not(:hover) a {
  transition: all 0.35s ease-in-out;
  color: #6084d2;
}

.nav-item {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 10px;
  padding: 3px;
  border-radius: 5px;
}

.nav-item a {
  font-weight: bold;
}

.btn-primary {
  background-color: #ffd966;
  color: #233f7b;
  border: none;
}

.btn-primary:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ffbf00;
  color: #233f7b;
}

.modal-body img {
  width: 100%;
  object-fit: contain;
}

.modal-structure-image {
  padding: 20px;
}

.modal-structure-text {
  padding: 20px;
}

.modal-structure-text h3 {
  font-size: clamp(14px, 3vw, 30px);
  font-weight: bold;
}

.modal-structure-text article {
  font-size: clamp(12px, 2vw, 15px);
  text-align: justify;
}

.modal-structure-text article a {
  font-size: clamp(12px, 2vw, 15px);
  text-decoration: underline;
}