/*Fuentes usadas en todo el sitio*/

@font-face {
    font-family: "bree";
    src: url(../resources/fonts/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: "ruda-regular";
    src: url(../resources/fonts/Ruda-Regular.ttf);
}