/*Fuentes usadas en todo el sitio*/

@font-face {
    font-family: "bree";
    src: url(../resources/fonts/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: "ruda-regular";
    src: url(../resources/fonts/Ruda-Regular.ttf);
}

@font-face {
    font-family: "ruda-bold";
    src: url(../resources/fonts/Ruda-Bold.ttf);
}

@font-face {
    font-family: "ruda-semibold";
    src: url(../resources/fonts/Ruda-SemiBold.ttf);
}

@font-face {
    font-family: "ruda-extrabold";
    src: url(../resources/fonts/Ruda-ExtraBold.ttf);
}

@font-face {
    font-family: "ruda-black";
    src: url(../resources/fonts/Ruda-Black.ttf);
}

@font-face {
    font-family: "ruda-medium";
    src: url(../resources/fonts/Ruda-Medium.ttf);
}