//Paleta de colores utilizadas en todo el sitio//
$color-fuente: hsl(221, 56%, 31%);
$color-fuente-claro: hsl(221, 56%, 50%);
$color-primario: hsl(45, 100%, 82%);
$color-secundario-dark: hsl(45, 100%, 50%);
$color-secundario-claro: hsl(45, 100%, 82%);
$color-terciario: hsl(45, 100%, 70%);
$color-articulos: hsl(210, 22%, 78%);
$color-botones-activos: hsl(227, 45%, 74%);

$colores-basicos:
white,
lightgray,
black;